.noticia-analisis {
  width: 100%;
  display: flex;
  align-items: center;
}
.noticia-analisis .imagen-thumbnail {
  margin-right: 2.3rem;
  width: 61.6rem;
  height: 34.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.noticia-analisis .derecha {
  width: 78.3rem;
  height: 34.6rem;
  border-radius: 40rem;
  flex-shrink: 0;
}
.noticia-analisis .derecha .titulo-categoria {
  margin-bottom: 2.5rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.275;
  color: #16285a;
  font-family: Audiowide, 'Source Sans Pro';
  white-space: nowrap;
}
.noticia-analisis .derecha .titular {
  margin-bottom: 7.9rem;
  max-width: 76.4rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.275;
  color: #593b72;
  font-family: Audiowide, 'Source Sans Pro';
}
.noticia-analisis .derecha .autor {
  margin-right: 47.8rem;
  box-sizing: border-box;
  padding-right: 3rem;
  width: calc(100% - 47.8rem);
  display: flex;
  align-items: center;
  border-radius: 40rem;
}
.noticia-analisis .derecha .autor .profile-pic {
  margin-right: 1.1rem;
  width: 5.3rem;
  height: 5.3rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 40rem;
  flex-shrink: 0;
}
.noticia-analisis .derecha .autor .autor-nombre {
  margin-bottom: 0.1rem;
  max-width: 21.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2749023438;
  color: #593b72;
  font-family: Audiowide, 'Source Sans Pro';
  flex-shrink: 0;
}
.noticia-analisis .derecha .autor .autor-nombre .autor-nombre-sub-0 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.275;
  color: #593b72;
  font-family: Audiowide, 'Source Sans Pro';
}
.noticia-analisis .derecha .autor .autor-nombre .autor-nombre-sub-1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.275;
  color: #16285a;
  font-family: Audiowide, 'Source Sans Pro';
}
.noticia-analisis .derecha .autor .autor-nombre .autor-nombre-sub-2 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.275;
  color: #593b72;
  font-family: Audiowide, 'Source Sans Pro';
}
