html, body
{
    background: linear-gradient(225deg, rgba(105,156,207,1) 0%, rgba(136,103,176,1) 50%, rgba(144,73,116,1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
}
body img{
    margin:0;
}
.carousel-caption .text-start{
    background-color: #000;
}

.categoria>h2{
    font-family: audiowide;
    margin-left: 2vh;
    text-decoration-line: underline;
    text-decoration-thickness: 1.8vh;
    text-decoration-color: #034158;
}

.categoria{
    border-bottom: #034158;
    border-bottom-width: 4vh;
    margin-bottom: 3vh;
}

footer
{
    margin-top: 100px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Open+Sans:wght@300&display=swap');

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    align-items: center;
}

.center {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-color: white;
}

.group{
    width: 100%;
}

.categoria{
    display: flex;
}
.img-carrusel {
    width: 100%;
    height: auto;
  }
  
  .gradient-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70%; /* Ajusta esta altura según tus necesidades */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, transparent 100%);
  }
  
  .hgroup{
    display: flex;
  }
  .imageContent {
    position: relative; /* Agregado para que el overlay sea relativo a este contenedor */
    height: 30vh;
    width: 30vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
  }
  
  .imageContent img {
    width: 100%;
    height: 100%;
  }
  
  .minigradient-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70%; /* Ajusta esta altura según tus necesidades */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, transparent 100%);
  }
  
  .titulo {
    font-family: audiowide;
    position: absolute;
    bottom: -12vh;
    color: white;
    width: 15%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    margin: 0 5vh;
}
.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

body{
   
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
    padding: 0;
}
.nosotros{
    background-color: #ECECEC;
    padding: 0;
    margin: 0% 0% 0% 0%;
    position: relative;
    height: auto;

}

h5{
    text-align: center;
    width: 100%;
    height: 40%;
    font-size:100%;
    color: #034158;
    margin: 1%;
    
}
.columna a{
    
    width: 100%;
    height: 40%;
    color: #034158;
    margin: 1%;
    font-size: 100%;
    font-family: 'Audiowide', sans-serif;
    
}

.size{
    font-size: 6vh;
    font-family: 'Audiowide', sans-serif; 
}

.nosotros > p{
    margin: 5% 20% 5% 20%;
    font-family: 'Roboto';
    color: #034158;
}


.dos-columnas {
    display: flex; /* Hace que los elementos hijos se distribuyan en línea */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan a la siguiente línea si no hay suficiente espacio */
    margin: 1%;
}

.columna {
    flex: 1; /* Hace que las columnas ocupen el mismo espacio */
    margin: 0 10px; /* Añade un margen entre las columnas */
    box-sizing: border-box; /* Evita que el margen afecte el ancho total */
}

.columna img
{
    width: 100%;
    height: auto;
}

.columna1 {
    flex: 0.45; /* La columna 1 ocupa el 30% del ancho total */
}

.columna2 {
    /* Estilos adicionales para la columna 2 si es necesario */
    display: flex;
    flex-direction: column;
}

.autor {
    display: flex;
    align-items: center;
}

.circulo {
    width: 30px !important; /* Ajusta el tamaño de la imagen circular según tus necesidades */
    height: 30px;
    border-radius: 50%; /* Hace que la imagen sea circular */
    margin-right: 10px; /* Añade un margen entre la imagen y el texto */
}
.info-autor {
    display: flex;
    flex-direction: column;
  
  
    font-size:60%;
    color: #034158;
    margin: 1%;
    font-family: 'Audiowide', sans-serif;
}

.info-autor p {
    margin: 0; /* Elimina el margen predeterminado de los párrafos */
}

.resume{
    
    width: 100%;
    height: 40%;
    font-size:100%;
    color: #034158;
    margin: 1%;

}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.profile {
    text-align: center;
    margin: 5px;
    display: flex;
    flex-direction: column; /* Cambiamos la dirección de los elementos a columna */
    align-items: center;
   
}

.circular-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 5px solid #fff; /* Borde blanco alrededor de la imagen circular */
}

.profile a {
    display: block;
    margin-top: 10px;
    font-family: 'Audiowide', sans-serif;
    color: #034158;
  
}

button.olark-launch-button {
    z-index: 1 !important;
  }
  .menu {
    z-index: 1000 !important;
  }

.tox .tox-tinymce {
    width: 80%;
}

@media screen and (max-width: 900px) {
    body {
        align-items: flex-start; /* Alinear contenido arriba en pantallas pequeñas */
    }

    main
    {
        width: 100%;
    }

    .nosotros {
        margin: 0; /* Reducir el margen para dar más espacio en pantallas pequeñas */
        width: 100%;
    }

    h5 {
        font-size: 24px; /* Reducir el tamaño de fuente en pantallas pequeñas */
        height: auto; /* Restaurar la altura automática */
    }

    .size {
        font-size: 36px; /* Ajustar el tamaño de fuente para móviles */
    }

    .nosotros > p {
        margin: 10px; /* Ajustar el margen para móviles */
    }

    .container {
        display: flex;
        flex-direction: column; /* Cambiamos la dirección de los elementos a columna para móviles */
        align-items: center;
        text-align: center; /* Centramos el texto en dispositivos móviles */
    }
    .dos-columnas {
        flex-direction: column; /* Cambia la dirección a columna en dispositivos móviles */
    }

    .columna {
        flex: 100%; /* La columna ocupa el 100% del ancho en dispositivos móviles */
        margin: 10px 0; /* Añade un margen superior e inferior en dispositivos móviles */
    }
    
    .columna img
    {
        width: 100%;
    }
  
}