html, body
{
    background: linear-gradient(225deg, rgba(105,156,207,1) 0%, rgba(136,103,176,1) 50%, rgba(144,73,116,1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
}
body img{
    margin:0;
}
.carousel-caption .text-start{
    background-color: #000;
}

.categoria>h2{
    font-family: audiowide;
    margin-left: 2vh;
    text-decoration-line: underline;
    text-decoration-thickness: 1.8vh;
    text-decoration-color: #034158;
}

.categoria{
    border-bottom: #034158;
    border-bottom-width: 4vh;
    margin-bottom: 3vh;
}

footer
{
    margin-top: 100px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Open+Sans:wght@300&display=swap');

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    align-items: center;
}

.center {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-color: white;
}

.group{
    width: 100%;
}

.categoria{
    display: flex;
}
.img-carrusel {
    width: 100%;
    height: auto;
  }
  
  .gradient-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Ajusta esta altura según tus necesidades */
    z-index: 1;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.533) 0%, transparent 100%);
  }
  
  h2 .opacity-75ñ{
    z-index: 2;
  }
  @import "https://unpkg.com/open-props";
  @import "https://unpkg.com/open-props/normalize.min.css";
  .hgroup {
    display: flex;
    white-space: nowrap;
    /* overflow: auto; */
    margin: 1%;
    flex-wrap: nowrap;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    gap: var(--size-10);
    align-items: start;
    padding: var(--size-10);
}


/*        ScrollBar 5    */

#scrollbar::-webkit-scrollbar {
    width: 12px;
    border-radius: 10px;
}

#scrollbar::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
}


.hgroup {
    display: flex;
    white-space: nowrap;
    /* overflow: auto; */
    margin: 1%;
    flex-wrap: nowrap;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    gap: var(--size-10);
    align-items: start;
    padding: var(--size-10);
}


#scrollbar::-webkit-scrollbar {
    width: 12px;
    border-radius: 10px;
}
#scrollbar::-webkit-scrollbar-thumb {
    background-image: -webkit-gradient(linear, right bottom, left top, color-stop(.5, rgba(105,156,207,1)), color-stop(1, rgba(144,73,116,1)));
    
    border-radius: 10px;
}
  
  .imageContent {
    position: relative; /* Agregado para que el overlay sea relativo a este contenedor */
    height: 30vh;
    width: 30vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
  }
  
  .imageContent img {
    width: 100%;
    height: 100%;
  }
  .carousel-caption{
    z-index: 3;
  }
  .carousel-control-prev{
    z-index: 4;
  }
  .carousel-control-next{
    z-index: 4;
  }

  .titulo {
    font-family: audiowide;
    position: absolute;
    bottom: 0vh;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 100%;
    white-space: pre-wrap;
    font-size: 2vh;
    z-index: 2;
}

.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin: 0 2vh 2vh 2vh;
}



body{
   
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
    padding: 0;
}
.nosotros{
    background-color: #ECECEC;
    padding: 0;
    margin: 0% 0% 0% 0%;
    position: relative;
    height: auto;

}

h5{
    text-align: center;
    width: 100%;
    height: 40%;
    font-size:100%;
    color: #034158;
    margin: 1%;
    
}
.columna a{
    
    width: 100%;
    height: 40%;
    color: #034158;
    margin: 1%;
    font-size: 100%;
    font-family: 'Audiowide', sans-serif;
    
}

.size{
    font-size: 6vh;
    font-family: 'Audiowide', sans-serif; 
}

.nosotros > p{
    margin: 5% 20% 5% 20%;
    font-family: 'Roboto';
    color: #034158;
}


.dos-columnas {
    display: flex; /* Hace que los elementos hijos se distribuyan en línea */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan a la siguiente línea si no hay suficiente espacio */
    margin: 1%;
}

.columna {
    flex: 1; /* Hace que las columnas ocupen el mismo espacio */
    margin: 0 10px; /* Añade un margen entre las columnas */
    box-sizing: border-box; /* Evita que el margen afecte el ancho total */
}

.columna img
{
    width: 100%;
    height: auto;
}

.columna1 {
    flex: 0.45; /* La columna 1 ocupa el 30% del ancho total */
}

.columna2 {
    /* Estilos adicionales para la columna 2 si es necesario */
    display: flex;
    flex-direction: column;
}

.autor {
    display: flex;
    align-items: center;
}

.circulo {
    width: 30px !important; /* Ajusta el tamaño de la imagen circular según tus necesidades */
    height: 30px;
    border-radius: 50%; /* Hace que la imagen sea circular */
    margin-right: 10px; /* Añade un margen entre la imagen y el texto */
}
.info-autor {
    display: flex;
    flex-direction: column;
  
  
    font-size:60%;
    color: #034158;
    margin: 1%;
    font-family: 'Audiowide', sans-serif;
}

.info-autor p {
    margin: 0; /* Elimina el margen predeterminado de los párrafos */
}

.resume{
    
    width: 100%;
    height: 40%;
    font-size:100%;
    color: #034158;
    margin: 1%;

}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.profile {
    text-align: center;
    margin: 5px;
    display: flex;
    flex-direction: column; /* Cambiamos la dirección de los elementos a columna */
    align-items: center;
   
}

.circular-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 5px solid #fff; /* Borde blanco alrededor de la imagen circular */
}

.profile a {
    display: block;
    margin-top: 10px;
    font-family: 'Audiowide', sans-serif;
    color: #034158;
  
}

button.olark-launch-button {
    z-index: 1 !important;
  }
  .menu {
    z-index: 1000 !important;
  }

.tox .tox-tinymce {
    width: 80%;
}

.noticia-analisis {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .noticia-analisis .imagen-thumbnail {
    margin-right: 2vh;
    width: 45%;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
    margin-left: 2vh;
}

.noticia-analisis .derecha {
    width: 50%;
    border-radius: 30rem;
    flex-shrink: 0;
}

.noticia-analisis .derecha .titulo-categoria {
    margin-bottom: 0;
    font-size: 3.5vh;
    font-weight: 400;
    color: #16285a;
    font-family: Audiowide, 'Source Sans Pro';
    white-space: nowrap;
}

  .noticia-analisis .derecha .titular {
    margin-bottom: 2vh;
    max-width: 100%;
    font-size: 2.5vh;
    font-weight: 400;
    color: #593b72;
    font-family: Audiowide, 'Source Sans Pro';
}
.noticia-analisis .derecha .autor {
    margin-right: 0;
    box-sizing: border-box;
    padding-right: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.noticia-analisis .derecha .autor .profile-pic {
    margin-right: 1vh;
    width: 5vh;
    height: 5vh;
    object-fit: cover;
    flex-shrink: 0;
}
.noticia-analisis .derecha .autor .autor-nombre {
    margin-bottom: 1vh;
    max-width: 100%;
    font-weight: 400;
    color: #593b72;
    font-family: Audiowide, 'Source Sans Pro';
    flex-shrink: 0;
}

.noticia-analisis .derecha .autor .autor-nombre .autor-nombre-sub-0 {
    font-size: 1.5vh;
    font-weight: 400;
    line-height: 1;
    color: #593b72;
    font-family: Audiowide, 'Source Sans Pro';
}
.noticia-analisis .derecha .autor .autor-nombre .autor-nombre-sub-1 {
    font-size: 2vh;
    font-weight: 400;
    line-height: 1;
    color: #16285a;
    font-family: Audiowide, 'Source Sans Pro';
}
.noticia-analisis .derecha .autor .autor-nombre .autor-nombre-sub-2 {
    font-size: 2vh;
    font-weight: 400;
    line-height: 1;
    color: #593b72;
    font-family: Audiowide, 'Source Sans Pro';
}

hr.solid {
    border-top: 2vh solid #000000;
  }

@media screen and (max-width: 900px) {
    body {
        align-items: flex-start; /* Alinear contenido arriba en pantallas pequeñas */
    }

    main
    {
        width: 100%;
    }

    .nosotros {
        margin: 0; /* Reducir el margen para dar más espacio en pantallas pequeñas */
        width: 100%;
    }

    h5 {
        font-size: 24px; /* Reducir el tamaño de fuente en pantallas pequeñas */
        height: auto; /* Restaurar la altura automática */
    }

    .size {
        font-size: 36px; /* Ajustar el tamaño de fuente para móviles */
    }

    .nosotros > p {
        margin: 10px; /* Ajustar el margen para móviles */
    }

    .container {
        display: flex;
        flex-direction: column; /* Cambiamos la dirección de los elementos a columna para móviles */
        align-items: center;
        text-align: center; /* Centramos el texto en dispositivos móviles */
    }
    .dos-columnas {
        flex-direction: column; /* Cambia la dirección a columna en dispositivos móviles */
    }

    .columna {
        flex: 100%; /* La columna ocupa el 100% del ancho en dispositivos móviles */
        margin: 10px 0; /* Añade un margen superior e inferior en dispositivos móviles */
    }
    
    .columna img
    {
        width: 100%;
    }
    .center{
        width: 100%;
    }
    .noticia-analisis {
        width: 100%;
        display: flex;
        align-items: center;
      }
      .noticia-analisis .imagen-thumbnail {
        margin-right: 1vh;
        width: 30%;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-left: 1vh;
    }
    
    .noticia-analisis .derecha {
        width: 65%;
        flex-shrink: 0;
    }
    
    .noticia-analisis .derecha .titulo-categoria {
        margin-bottom: 0;
        font-size: 2.5vh;
        font-weight: 400;
        color: #16285a;
        font-family: Audiowide, 'Source Sans Pro';
        white-space: nowrap;
    }
    
      .noticia-analisis .derecha .titular {
        margin-bottom: 0;
        max-width: 100%;
        font-size: 2vh;
        font-weight: 400;
        color: #593b72;
        font-family: Audiowide, 'Source Sans Pro';
    }
    .noticia-analisis .derecha .autor {
        margin-right: 0;
        box-sizing: border-box;
        padding-right: 0;
        width: 80%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .noticia-analisis .derecha .autor .profile-pic {
        /* margin-right: 1vh; */
        width: 4vh;
        height: 4vh;
        object-fit: cover;
        flex-shrink: 0;
    }
    .noticia-analisis .derecha .autor .autor-nombre {
        margin-bottom: 1vh;
        max-width: 100%;
        font-weight: 400;
        color: #593b72;
        font-family: Audiowide, 'Source Sans Pro';
        flex-shrink: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    
    .noticia-analisis .derecha .autor .autor-nombre .autor-nombre-sub-0 {
        font-size: 1.8vh;
        font-weight: 400;
        line-height: 1;
        color: #593b72;
        font-family: Audiowide, 'Source Sans Pro';
    }
    .noticia-analisis .derecha .autor .autor-nombre .autor-nombre-sub-1 {
        font-size: 1.9vh;
        font-weight: 400;
        line-height: 1;
        color: #16285a;
        font-family: Audiowide, 'Source Sans Pro';
    }
    .noticia-analisis .derecha .autor .autor-nombre .autor-nombre-sub-2 {
        font-size: 1.8vh;
        font-weight: 400;
        line-height: 1;
        color: #593b72;
        font-family: Audiowide, 'Source Sans Pro';
    }

}
/* :horizontal */